doctype html
html
  head
    meta(name ='viewport', content='with=device-with, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
    link(rel='stylesheet', href='/stylesheet/style.css')
  body
    block content
    
    script(scr='/javascrips/jquery-3.3.1.min.js')
    script(scr='/bootstrap/js/bootstrap.min.js')
